*
pictures/
avatars/
winter91.db
src/result
!.gitignore
!LICENSE
!README.md
!TODO.md
!DEPS.md
!logo/
!logo/**

!flake.nix
!flake.lock
!nimpkgs/
!nimpkgs/flake.nix
!nimpkgs/flake.lock

!src/
!src/**
!src/database/
!src/database/**
!src/routes/
!src/routes/**
!templates/
!templates/**
!static/
!static/**
