<header class="container">
  <nav>
	<ul>
	  <li>
		<a href="/" style="font-family: Larken; text-decoration: none; font-weight: bold; font-size: 2rem;">
		  Winter <image src="/static/images/logo.svg" alt="Winter91 Logo" style="width: 5.5rem; height: 5.5rem; vertical-align: middle;"></image> Challenge
		</a>
	  </li>
	</ul>
	<ul>
	  <li><a href="/about">About</a></li>
	  {% if session.is_some() %}
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
		<li><a href="/post">Posts</a></li>
		<li><a href="/settings">Settings</a></li>
		<li><a href="/logout" role="button" class="secondary">Log out</a></li>
	  {% else %}
		<li><a href="/login" role="button" class="secondary">Log in</a></li>
		<li><a href="/signup" role="button">Sign up</a></li>
	  {% endif %}
	</ul>
  </nav>
</header>
