<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Winter91{% endblock %} | Winter91 Challenge</title>

  <!-- Preload images -->
  <link rel="preload" as="image" href="/static/images/logo.svg"/>

  <!-- Preload Larken fonts -->
  <link rel="preload" href="/static/fonts/larken/Larken-Regular.otf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/larken/Larken-Bold.otf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/larken/Larken-Italic.otf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/larken/Larken-BoldItalic.otf" as="font" type="font/opentype" crossorigin>

  <!-- Preload Charm fonts -->
  <link rel="preload" href="/static/fonts/charm/Charm-Bold.ttf" as="font" type="font/truetype" crossorigin>
  <link rel="preload" href="/static/fonts/charm/Charm-Regular.ttf" as="font" type="font/truetype" crossorigin>
  
  <!-- Preload Athelas fonts -->
  <link rel="preload" href="/static/fonts/athelas/Athelas-Regular.ttf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/athelas/Athelas-Bold.ttf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/athelas/Athelas-Italic.ttf" as="font" type="font/opentype" crossorigin>
  <link rel="preload" href="/static/fonts/athelas/Athelas-BoldItalic.ttf" as="font" type="font/opentype" crossorigin>
  
  <!-- CSS files -->
  <link rel="stylesheet" href="/static/css/style.css">
  
  <script src="/static/js/htmx.js"></script>
  <script src="/static/js/password-toggle.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% importnimja "partials/_header.jinja" %}
  
  <main class="container">
	{% block content %}{% endblock %}
  </main>
   
  {% importnimja "partials/_footer.jinja" %}

  {% block extra_js %}{% endblock %}
</body>
</html>
