<div class="avatar" style="
	width: 40px; 
	height: 40px; 
	border-radius: 50%; 
	color: white; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-weight: bold; 
	font-size: 14px;
">
	{{ user.name }}
</div>
