<div style="display: flex; align-items: center; gap: 0.5rem;">
  <img
    width="40px" height="40px" class="avatar-img"
    src="/avatars/{{ id }}_{{ name.replace(" ", "_") }}.webp"
    alt="{{ name }} Avatar"
  />
  <strong>{{ name }}</strong>
</div>
