<div style="display: flex; align-items: center; gap: 0.5rem;">
  <img
    width="5rem" height="5rem" class="avatar"
    src="/avatars/{{ id }}_{{ name.replace(" ", "_") }}.webp"
    alt="{{ name }} Avatar"
  />
  <strong>{{ name }}</strong>
</div>
