{% extends "partials/_master.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="text-center p-4">
  <blockquote>
	"Above all, do not lose your desire to walk. Everyday, I walk myself into a state of well-being and walk away from every illness. I have walked myself into my best thoughts, and I know of no thought so burdensome that one cannot walk away from it. But by sitting still, and the more one sits still, the closer one comes to feeling ill. Thus if one just keeps on walking, everything will be all right."
	<cite>Søren Kierkegaard</cite>
  </blockquote>
  
  <div class="mt-3">
    {% if session.is_some() %}
    <a href="/dashboard" role="button">Dashboard</a>
    <a href="/leaderboard" role="button">Leaderboard</a>
    {% else %}
    <a href="/signup" role="button">Sign up</a>
    <a href="/login" role="button" class="secondary">Log in</a>
    {% endif %}
  </div>
</section>
{% endblock %}
