{% extends "partials/_master.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="landing"></div>

<section class="landing-content">
  <h1>Only one <i>recieves</i> the <b>prize</b>!</h1>
  
  <div>
    {% if session.is_some() %}
    <a href="/dashboard" role="button">Dashboard</a>
    <a href="/leaderboard" role="button">Leaderboard</a>
    {% else %}
    <a href="/signup" role="button">Sign up</a>
    <a href="/login" role="button" class="secondary">Log in</a>
    {% endif %}
  </div>
</section>
{% endblock %}
